@media only screen and (max-width:359px) {
  html {
    font-size: 13px
  }
}

@media only screen and (min-width:360px) and (max-width:374px) {
  html {
    font-size: 15px
  }
}

@media only screen and (min-width:375px) and (max-width:399px) {
  html {
    font-size: 15px
  }
}

@media only screen and (min-width:400px) and (max-width:479px) {
  html {
    font-size: 16px
  }
}

@media only screen and (min-width:480px) and (max-width:539px) {
  html {
    font-size: 20px
  }
}

@media only screen and (min-width:540px) and (max-width:639px) {
  html {
    font-size: 22px
  }
}

@media only screen and (min-width:640px) and (max-width:719px) {
  html {
    font-size: 26px
  }
}

@media only screen and (min-width:720px) {
  html {
    font-size: 30px
  }
}


html {
  overflow-y: scroll
}

body {
  margin: 0 auto;
  background-color: #e9ebef;
  font: .6rem/1.5 Microsoft Yahei,sans-serif;
  text-align: center;
  text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%
}

dd,div,dl,dt,form,h1,h2,h3,h4,h5,h6,img,input,li,ol,p,select,span,table,td,th,ul {
  margin: 0;
  padding: 0;
  font-weight: 400
}

iframe,img {
  border: none
}

li,ol,ul {
  list-style: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

input {
  font-family: Microsoft Yahei,sans-serif
}

b,cite,em,font,i,strong,sub,sup {
  font-weight: 400;
  font-style: normal;
  font-size: 100%
}

a {
  text-decoration: none;
  tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -ms-tap-highlight-color: rgba(0,0,0,0);
  -o-tap-highlight-color: rgba(0,0,0,0)
}

.clearfix {
  zoom: 1
}

body,html {
  height: 100%;
  width: 100%
}

input::-ms-clear {
  display: none
}

button,input[type=submit],input[type=reset],input[type=button],input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

.h1,.h3,.h5 {font-weight: inherit;}

.row {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  box-sizing:border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

.row-wrap {
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}


.row+.row {
  margin-top: -1px;
}

.row.align-items {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items:center
}

.col {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  box-flex: 1;
  flex: 1;
  padding: 0.25rem;
  width: 100%;
  box-sizing:border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  position: relative;
}
.col-offset-10 {
  margin-left: 10%
}
.col-offset-5 {
  margin-left: 5%
}
.col-offsetr-5 {
  margin-right: 5%
}

.col-offset-20 {
  margin-left: 20%
}

.col-offset-25 {
  margin-left: 25%
}

.col-offset-33,.col-offset-34 {
  margin-left: 33.3333%
}

.col-offset-50 {
  margin-left: 50%
}

.col-offset-66,.col-offset-67 {
  margin-left: 66.6666%
}

.col-offset-75 {
  margin-left: 75%
}

.col-offset-80 {
  margin-left: 80%
}

.col-offset-90 {
  margin-left: 90%
}

.col-10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 10%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 10%;
  -ms-flex: 0 0 10%;
  flex: 0 0 10%;
  max-width: 10%
}

.col-15 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 15%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  max-width: 15%
}

.col-20 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 20%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%
}

.col-25 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%
}

.col-33,.col-34 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.3333%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 33.3333%;
  -ms-flex: 0 0 33.3333%;
  box-flex: 0;
  flex: 0 0 33.3333%;
  width: 33.3333%;
  max-width: 33.3333%
}
.col-32 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 32.9999%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 32.9999%;
  -ms-flex: 0 0 32.9999%;
  flex: 0 0 32.9999%;
  max-width: 32.9999%
}

.col-50 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%
}

.col-66,.col-67 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.6666%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 66.6666%;
  -ms-flex: 0 0 66.6666%;
  flex: 0 0 66.6666%;
  max-width: 66.6666%
}

.col-75 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%
}

.col-80 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 80%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 80%;
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%
}

.col-90 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 90%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 90%;
  -ms-flex: 0 0 90%;
  flex: 0 0 90%;
  max-width: 90%
}

.row-no-padding,.row-no-padding>.col {
  padding: 0
}

/*block*/
.block {
  background:#fff;
  margin-bottom: 0.77rem;
}
/*block-border*/
.block-border {
  border-top:1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.block-border:first-child {
  margin-top: 0px;
}
.block.block-no-margin {margin-bottom: 0}
/*catalog*/
.catalog, .players {
  background:#fff;
  padding:0.38rem 0.38rem;
  border-top:1px solid #eee;
  border-bottom:1px solid #eee;
  margin-top: -1px;
  position: relative;
  box-sizing:border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  color:#3a3a3a;
  display: block;
  width: 100%;
}
.players {padding:0;}
.catalog.no-border {border-top:none;border-bottom: none}
.catalog.margin-bottom {margin-bottom: .8rem;}
.catalog img {max-width: 100%;display: block;margin:0 auto;}
.catalog i.icon {
  width: 0.65625rem;
  height: 0.65625rem;
  position: absolute;
}
.catalog i.icon-arrow-right {
  background-position: -2.375rem -0.03125rem;
  right: .4rem;
  top:50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.catalog.active i.icon-arrow-right {
  background-position: -2.4375rem -0.875rem;
}
.catalog-divider {
  background:#fefefe;
  border-bottom: 1px solid #eee;
  font-size: 0;
  display: none;
}
.catalog-divider.active {
  display: block;
}

.b-title {
  font-size: .88rem;
  text-align: left;
  font-weight: bold;
}

.b-title > .blues {
  width: 0.23rem;
  height: 100%;
  display: inline-block;
  margin-right: 0.61rem;
  background:#3097fd;
  vertical-align: middle;
}

.d-title {
  font-size: 1.07rem;
  text-align: left;
  border-left: 0.23rem solid #3097fd;
}

.c-title {
  font-size: 1rem;
  text-align: center;
  position: relative;
  padding-top:0.76rem;
  padding-bottom:0.76rem;
}

.c-title .sx-left {
  border-top-left-radius: 2.30rem;
  border-bottom-left-radius: 2.30rem;
  border:1px solid #3097fd;
}
.c-title .sx-right {
  border-top-right-radius: 2.30rem;
  border-bottom-right-radius: 2.30rem;
  border:1px solid #3097fd;
  margin-right: -1px;
}
.c-title .active {background:#3097fd;color:#fff;}

/*text-color*/
.wihte {color:#fff;}
.h33 {color:#333;}
.h66 {color:#666;}
.h88 {color:#888;}
.h99 {color:#999;}
.red {color:#de0000;}
.red.up::after {
    content: "\25B2";
    margin-left: .19rem
}
.green {color:#09bb07;}
.green.down::after {
    content: "\25BC";
    margin-left: .19rem
}
.pink {color:#fd6358;}
.blue {color:#00C0E4;}
.yellow {color:#fff900;}

/*text-align*/
.text-left {text-align: left}
.text-center {text-align: center}
.text-right {text-align: right}

/*font-size*/
.f11 {font-size: .69rem}
.f12 {font-size: .75rem}
.f13 {font-size: .81rem}
.f14 {font-size: .88rem}
.f16 {font-size: 1rem}
.f18 {font-size: 1.13rem}
.f24 {font-size: 1.5rem}

/*bgcolr*/
.bgcolor-f5f5 {background:#f5f5f5;}
